@import '../../styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .menu-sidebar ::ng-deep .scrollable {
    padding-top: nb-theme(layout-padding-top);
  }
}

.logo{
  margin-bottom: 20px;
  width: 100%;

  img{
    width: 100%;
  }
}

nb-layout{
  --layout-window-mode-background-color:#FAFAFA !important;
  --layout-background-color: #FAFAFA !important;
}